# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Env
.env

# Editors / OS
.vscode/
.idea/
.DS_Store

# Tests
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
